<p id="notice"><%= notice %></p>

<p>
  <strong>Bp:</strong>
  <%= @subcontractor.bp %>
</p>

<p>
  <strong>Company:</strong>
  <%= @subcontractor.company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @subcontractor.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subcontractor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subcontractor.phone %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @subcontractor.trade %>
</p>

<p>
  <strong>Contract value:</strong>
  <%= @subcontractor.contract_value %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @subcontractor.logo %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @subcontractor.notes %>
</p>

<%= link_to 'Edit', edit_subcontractor_path(@subcontractor) %> |
<%= link_to 'Back', subcontractors_path %>
