<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @pco.num %>
</p>

<p>
  <strong>Subcontractor:</strong>
  <%= @pco.subcontractor.company %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pco.status.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pco.pco_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pco.description %>
</p>

<p>
  <strong>Discovery:</strong>
  <%= @pco.discovery %>
</p>

<p>
  <strong>Sub proposal num:</strong>
  <%= @pco.sub_proposal_num %>
</p>

<p>
  <strong>Al num:</strong>
  <%= @pco.al_num %>
</p>

<p>
  <strong>Ddc co num:</strong>
  <%= @pco.ddc_co_num %>
</p>

<p>
  <strong>Sub co num:</strong>
  <%= @pco.sub_co_num %>
</p>

<p>
  <strong>Proposal received:</strong>
  <%= @pco.proposal_received %>
</p>

<p>
  <strong>Df submitted:</strong>
  <%= @pco.df_submitted %>
</p>

<p>
  <strong>Df returned:</strong>
  <%= @pco.df_returned %>
</p>

<p>
  <strong>Sent to gt:</strong>
  <%= @pco.sent_to_gt %>
</p>

<p>
  <strong>Cleared gt:</strong>
  <%= @pco.cleared_gt %>
</p>

<p>
  <strong>Sent to ddc:</strong>
  <%= @pco.sent_to_ddc %>
</p>

<p>
  <strong>Ddc approved:</strong>
  <%= @pco.ddc_approved %>
</p>

<p>
  <strong>Eao:</strong>
  <%= @pco.eao %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @pco.approved %>
</p>

<p>
  <strong>Approximate:</strong>
  <%= @pco.approximate %>
</p>

<p>
  <strong>Proposed:</strong>
  <%= @pco.proposed %>
</p>

<p>
  <strong>Tstv estimate:</strong>
  <%= @pco.tstv_estimate %>
</p>

<p>
  <strong>Gt estimate:</strong>
  <%= @pco.gt_estimate %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @pco.submitted %>
</p>

<p>
  <strong>Ddc approved:</strong>
  <%= @pco.ddc_approved %>
</p>

<p>
  <strong>Bc to:</strong>
  <%= @pco.bc_to %>
</p>

<p>
  <strong>Deduct:</strong>
  <%= @pco.deduct %>
</p>

<p>
  <strong>Bc from:</strong>
  <%= @pco.bc_from %>
</p>

<p>
  <strong>Add:</strong>
  <%= @pco.add %>
</p>

<p>
  <strong>Used allowance?</strong>
  <%= @pco.used_allowance %>
</p>

<p>
  <strong>Billed?</strong>
  <%= @pco.billed %>
</p>

<p>
  <strong>Billed Month:</strong>
  <%= @pco.billed_month %>
</p>

<p>
  <strong>Tdrive:</strong>
  <%= @pco.tdrive %>
</p>

<%= link_to 'Edit', edit_pco_path(@pco) %> |
<%= link_to 'Back', pcos_path %>
